.main-div {
    background: linear-gradient(rgba(0, 0, 0, 0.771), rgba(58, 58, 143, 0.349)), url(https://wwwimage-us.pplusstatic.com/thumbnails/photos/w1920-q80/marquee/1038640/ucl_sp_hero_landscape_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    min-height: 89.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s, background-color 0.3s;
}

.main-div h1 {
    color: #fff;
    margin: 0;
}
.main-div p {
    margin-bottom: 30px;
    color: #fff;
}

.fade-enter,
.fade-exit-active {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fade-enter-active,
.fade-exit {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms;
}

.main-div.animating::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 5;
    opacity: 0;
    transition: opacity 0.5s;
}

.main-div.fading::before {
    opacity: 1;
}

.results-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 430px;
  margin-top: auto;
}
.results-buttons button {
  padding: 10px 30px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.results-buttons button:hover {
  background-color: #0056b3;
    transform: translateY(-2px);
}

.results-wrapper {
  position: relative;
  width: 60%; 
  height: 550px;
  padding: 30px;
  margin: 30px auto;
  overflow: auto; 
  box-sizing: border-box; 
  border-radius: 8px;
}

.results-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.results-container.active {
  opacity: 1;
  visibility: visible;
}


.results-wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #007bff4a; 
}

.results-wrapper::-webkit-scrollbar-thumb {
  background-color: #007bff3f;
  border-radius: 10px; 
}

.results-wrapper::-webkit-scrollbar-track {
  background-color: #e1e1e11d; 
}

.results-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}

.results-wrapper {
  scrollbar-width: thin; 
  scrollbar-color: #007bff #f5f5f5; 
}
