.voting-form {
    padding: 20px;
    margin: 0 auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 8px;
    width: 60%;
    background-color: #ffffffbe;
    background: linear-gradient(185deg, #f1c40fa5, #3366ff93);
    /* background: linear-gradient(185deg, #f1c40fa5, #ff333393); */

}

.person-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;
    color: #fff;
}

.person-option {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.person-option:hover {
    background-color: #fafafa3d;
}

.voting-form input[type="radio"] {
    margin-right: 15px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.person-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
}

.vote-button {
    padding: 10px 30px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: block;
    margin: 20px auto 0;
}

.vote-button:hover {
    background-color: #f1c40fa5;
    transform: translateY(-2px);
}
